<div class='footer'>
  <div class='container'>
      <div class='footer_top'>
        <div class='row'>
          <div class='col-lg-8 col-md-6 col-12'>
            <div class='area_newsletter'>
              <div class='title_newsletter'>
                <i class='fas fa-envelope-open-text'></i>
                <h4>Đăng ký làm CTV</h4>
              </div>
              <div class='form_newsletter'>
                <input id='CTV-input' placeholder='Nhập ID telegram' type='text' />
                {{> slideBtn class='CTV-btn' title="Đăng ký"}}

              </div>
            </div>
          </div>
          <div class='col-lg-4 col-md-6 col-12'>
            <div class='area_phone_contact'>
              <p class='number_phone'>
                <i class='fas fa-paper-plane mr-2'></i>
                            <a target="_blank" href='https://t.me/+84392686494' class='hotline__link'>Click để được tư vấn</a>

              </p>
            </div>
          </div>
        </div>

      </div>

      <div class='footer_main'>
        <div class='row'>
          <div class='col-lg-4 col-md-6 col-12'>
            <div class='footer_main-item'>
              <div class='support-item_header'>
                <h3>Gái Gọi Đức Phổ</h3>
              </div>
              <div class='support-item_content'>
                Trang web Gái Gọi Đức Phổ là nơi bạn có thể tìm kiếm và kết nối với những cô gái xinh đẹp, quyến rũ tại SÀI GÒN. Chúng tôi cam kết mang đến cho bạn trải nghiệm an toàn, bảo mật và đáng nhớ. Với thông tin chi tiết và hình ảnh chân thật, bạn sẽ dễ dàng lựa chọn được người bạn đồng hành hoàn hảo. Hãy khám phá và tận hưởng những khoảnh khắc tuyệt vời ngay hôm nay!
              </div>
              {{!-- <div class='chung-nhan-bo-cong-thuong'>
               <img src="/img/Featured/da-thong-bao-bo-cong-thuong-gif.gif" alt="">
              </div> --}}
            </div>
          </div>

          <div class='col-lg-4 col-md-6 col-12'>
            <div class='footer_main-item'>
              <div class='support-item_header'>
                <h3>Thông Tin Liên Hệ</h3>
              </div>
              <div class='support-item_content'>
                <ul class='support-item_content-list'>
                
                  <li class='support-item_content-item'>
                    <i class='fas fa-phone-square'></i>

                    <a target='blank' href="https://t.me/haohanmom">+84392686494</a>
                    
                  </li>
                  <li class='support-item_content-item'>
                    <i class='fas fa-paper-plane'></i>
                    <a target='blank' href="https://t.me/haohanmom">tuvanvien</a>
                  </li>
                  <li class='support-item_content-item'></li>
                </ul>
              </div>
            </div>
          </div>
          <div class='col-lg-4 col-md-6 col-12'>
            <div class='footer_main-item'>
              <div class='support-item_header'>
                <h3>Hỗ Trợ</h3>
              </div>
              <div class='support-item_content'>
                <ul class='support-item_content-list'>
                  <li class='support-item_content-item'>
                    <a href="/policy/gioi-thieu">Giới thiệu</a>
                  </li>
                 
                  <li class='support-item_content-item'>

                    <a href="/policy/huong-dan-book-gai-goi">Hướng dẫn book gái gọi</a>
                    
                  </li>
                  <li class='support-item_content-item'>

                    <a href="/policy/huong-dan-download-tele/">Hướng dẫn tải Telegram</a>
                    
                  </li>
                </ul>
              </div>
            </div>
          </div>
       

        </div>
      </div>
    </div>
  </div>
</div>

<div class="scroll-container">

  <button class="scroll-to-top" onclick="ScrollToTop()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z" />
      <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
    </svg>
  </button>

</div>

<script>
  const ctvInput=document.querySelector('#CTV-input');
  
  const ctvBtn=document.querySelector('#CTV-btn');
  console.log("🚀 ~ ctvInput:", ctvBtn)

    console.log("HAHA")

    ctvBtn.addEventListener('click',function(){
      const ctvInputValue=ctvInput.value;
              fetch("/ctv/postCTV", {
              method: "POST",
              body: JSON.stringify({
                ctvID: ctvInputValue,
              
              }),
              headers: {
                "Content-type": "application/json; charset=UTF-8"
              }
            }
        )
    })
  



</script>